@mixin setWhiteBlock {
  @include addShadow;

  background-color: #fff;
}

@mixin addShadow {
  box-shadow: 0 0 7px rgba(#000, 0.03);
}

@mixin setVisuallyHidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
