html {
  box-sizing: border-box;
  height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  min-width: 320px;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  @include setVisuallyHidden();
}

[hidden] {
  display: none !important;
}
