html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #3d3d3d;
  background-color: $color-grey-95;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  @include setVisuallyHidden();
}

[hidden] {
  display: none !important;
}
