.aside-menu {
  @include setWhiteBlock;

  list-style: none;
  padding: 0 14px;
}

.aside-menu__item:first-child {
  padding-top: 2px;
}

.aside-menu__item:last-child {
  padding-bottom: 6px;
}

.aside-menu__link {
  position: relative;
  display: block;
  padding: 16px 10px 16px 43px;
  transition: color 0.2s ease;
  color: $color-dark;
  text-decoration: none;

  &:hover {
    color: $color-red;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 7px);
    left: 10px;
    width: 13px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='14'%3E%3Cpath fill-rule='evenodd' fill='%23A6A6A6' d='M9.643 6.182L5.089 3.504a.5.5 0 00-.535-.008.511.511 0 00-.268.468v5.357c0 .207.089.363.268.469a.586.586 0 00.267.067.512.512 0 00.268-.075l4.554-2.679a.495.495 0 00.268-.46c0-.207-.09-.36-.268-.461zm-.929 4.403a4.448 4.448 0 01-2.285.611 4.449 4.449 0 01-2.286-.611 4.532 4.532 0 01-1.657-1.657 4.452 4.452 0 01-.611-2.285c0-.826.204-1.588.611-2.285.407-.698.96-1.25 1.657-1.658a4.458 4.458 0 012.286-.611c.825 0 1.587.204 2.285.611.697.408 1.25.96 1.657 1.658.407.697.611 1.459.611 2.285 0 .826-.204 1.588-.611 2.285a4.532 4.532 0 01-1.657 1.657zm.941-9.509A6.294 6.294 0 006.429.214a6.295 6.295 0 00-3.227.862 6.404 6.404 0 00-2.34 2.34A6.288 6.288 0 000 6.643C0 7.809.287 8.885.862 9.87a6.394 6.394 0 002.34 2.339c.985.575 2.06.862 3.227.862a6.284 6.284 0 003.226-.862 6.394 6.394 0 002.34-2.339 6.288 6.288 0 00.862-3.227 6.288 6.288 0 00-.862-3.227 6.404 6.404 0 00-2.34-2.34z'/%3E%3C/svg%3E");
    transition: background-image 0.2s ease;
  }

  &:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='14'%3E%3Cpath fill-rule='evenodd' fill='%23f10e34' d='M9.643 6.182L5.089 3.504a.5.5 0 00-.535-.008.511.511 0 00-.268.468v5.357c0 .207.089.363.268.469a.586.586 0 00.267.067.512.512 0 00.268-.075l4.554-2.679a.495.495 0 00.268-.46c0-.207-.09-.36-.268-.461zm-.929 4.403a4.448 4.448 0 01-2.285.611 4.449 4.449 0 01-2.286-.611 4.532 4.532 0 01-1.657-1.657 4.452 4.452 0 01-.611-2.285c0-.826.204-1.588.611-2.285.407-.698.96-1.25 1.657-1.658a4.458 4.458 0 012.286-.611c.825 0 1.587.204 2.285.611.697.408 1.25.96 1.657 1.658.407.697.611 1.459.611 2.285 0 .826-.204 1.588-.611 2.285a4.532 4.532 0 01-1.657 1.657zm.941-9.509A6.294 6.294 0 006.429.214a6.295 6.295 0 00-3.227.862 6.404 6.404 0 00-2.34 2.34A6.288 6.288 0 000 6.643C0 7.809.287 8.885.862 9.87a6.394 6.394 0 002.34 2.339c.985.575 2.06.862 3.227.862a6.284 6.284 0 003.226-.862 6.394 6.394 0 002.34-2.339 6.288 6.288 0 00.862-3.227 6.288 6.288 0 00-.862-3.227 6.404 6.404 0 00-2.34-2.34z'/%3E%3C/svg%3E");
  }
}

.aside-menu__item:not(:last-child) .aside-menu__link {
  box-shadow: inset 0 -1px $color-grey-92;
}
