.brands-slider {
  padding-top: 41px;
  padding-bottom: 42px;
  background-color: $color-red;
}

.brands-slider__items {
  display: flex;
  overflow: hidden;
}

.brands-slider__item {
  width: 100%;
  width: 50%;
  height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.75;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.9;
  }

  @media (min-width: $phone-md) {
    width: 33.3333%;
  }

  @media (min-width: $phone-horizontal) {
    width: 25%;
  }

  @media (min-width: $tablet) {
    width: 20%;
    height: 100px;
  }

  @media (min-width: $desktop-md) {
    width: calc(100% / 6);
  }
}

.brands-slider__img {
  display: block;
  width: auto;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}
