.brands-slider {
  padding-top: 31px;
  padding-bottom: 32px;
  background-color: $color-red;

  @media (min-width: $tablet) {
    padding-top: 41px;
    padding-bottom: 42px;
  }
}

.brands-slider__items {
  display: flex;
  overflow: hidden;
}

.brands-slider__item {
  width: 100%;
  width: 50%;
  height: 60px;
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;

  @media (min-width: $phone-md) {
    width: 33.3333%;
  }

  @media (min-width: $phone-horizontal) {
    width: 25%;
  }

  @media (min-width: $tablet) {
    width: 20%;
    height: 100px;
  }

  @media (min-width: $desktop-md) {
    width: 16.67%;
  }
}

.brands-slider__link {
  @include addTransition(filter);

  display: block;
  height: 100%;
  outline: none;

  &[href]:hover,
  &:focus {
    filter: brightness(1.2);
  }
}

.brands-slider__img {
  display: block;
  width: auto;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}
