.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 13px 23px;
  border: 0;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: $color-crimson;
  transition: background-color 0.3s ease;
  outline: 0;
  cursor: pointer;

  &:disabled,
  &--disabled {
    background-color: grayscale($color-crimson);
    cursor: default;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    background-color: darken($color-crimson, 10%);
  }
}

.button_invert {
  padding: 9px 22px;
  border-radius: 0;
  border: 2px solid #000;
  font-size: 17px;
  line-height: 1.2;
  color: #000;
  background-color: transparent;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #000;
  }
}
