.container {
  width: 100%;
  max-width: 862px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $desktop-sm) {
    max-width: 1200px;
  }
}
