.features {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: flex-start;
  padding: 22px;
  color: #fff;
  background-color: $color-red;
}

.features__item {
  width: 100%;
  padding: 0 15px;
  text-align: center;

  &:not(:first-child) {
    margin-top: 20px;
  }

  @media (min-width: $phone-horizontal) {
    width: 33.3333%;

    &:not(:first-child) {
      margin-top: 0;
    }
  }
}

.features__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.features__info {
  margin: 0;
}
