.features {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  color: #fff;
  background-color: $color-red;
}

.features__item {
  width: 33.3333%;
  padding: 22px 15px;
  text-align: center;
}

.features__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.features__info {
  margin: 0;
}
