.filters {
  display: flex;
  overflow: auto;
}

.filters__item {
  text-decoration: none;
  color: inherit;
  margin-top: 20px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }

  &:hover {
    color: $color-blue;
  }

  &_active {
    font-weight: 700;
    color: #000;
  }

  &:not(:last-child) {
    margin-right: 25px;
  }
}
