.footer {
  font-size: 14px;
  line-height: 1.72;
  background-color: $color-dark;
}

.footer__main {
  padding-top: 40px;
  padding-bottom: 45px;
  color: $color-grey-70;

  @media (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 65px;
  }
}

.footer__info {
  padding: 26px 0;
  color: #fff;
  background-color: $color-almost-black;
  text-align: center;
}

.footer__info-container {
  @include resetChildMargins;
}

.footer__info-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -13px;
  padding: 0;
}

.footer__info-item {
  margin: 13px 13px 0;
}

.footer__info-link {
  @include addTransition(color);

  color: #fff;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-red;
  }
}

.footer__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.footer__copy-item {
  &:not(:first-child) {
    margin-top: 5px;
  }

  @media (min-width: $tablet) {
    &:not(:first-child) {
      margin-top: 0;

      &::before {
        content: "|";
        margin-left: 8px;
        margin-right: 8px;
      }
    }
  }
}

.footer__columns {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer__column {
  @include resetChildMargins;

  padding-top: 20px;
  padding-bottom: 25px;

  &:first-child {
    padding-top: 0;
  }

  @media (min-width: $tablet) {
    width: calc(50% - 15px);
  }

  @media (min-width: $desktop-sm) {
    &_contacts {
      width: 24%;
      margin-right: auto;
    }

    &_menu {
      width: 20%;
      padding-right: 20px;
    }

    &_social {
      width: 27%;
      padding-right: 20px;
    }

    &_working {
      width: 23%;
    }
  }
}

.footer__logo {
  margin-bottom: 14px;
}

.footer__text {
  margin-top: 0;
  margin-bottom: 24px;
}

.footer__title {
  margin-top: 45px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.67;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-sm) {
    &_social {
      column-count: 2;
    }
  }
}

.footer__list-item {
  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.footer__list-link {
  @include addTransition(color);

  color: inherit;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

.footer__icon-item {
  display: inline-flex;
  position: relative;
  padding-left: 28px;
  z-index: 1;
}

.footer__list-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  z-index: -1;
}

.footer__list-icon svg {
  fill: $color-red;
}
