.header {
  color: #fff;
  background-color: $color-dark;
}

.header__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 70px;

  @media (min-width: $tablet) {
    min-height: 115px;
  }
}

.header__logo {
  flex-shrink: 0;
  margin: 10px 15px 10px 0;

  @media (min-width: $tablet) {
    margin: 18px 0 34px;
  }
}

.header__info {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 0;

  @media (min-width: $tablet) {
    justify-content: space-between;
    align-content: flex-start;
    max-width: $content-width;
    padding: 0 0 25px 30px;
  }

  @media (min-width: $desktop-sm) {
    padding-left: 100px;
  }
}

.header__user-menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;

  @media (max-width: $phone-max) {
    position: absolute;
    display: none;
    top: calc(100% - 2px);
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 15px 20px;
    background-color: $color-dark;
    z-index: 1;
  }
}

.header__search {
  flex-grow: 1;

  @media (max-width: $phone-max) {
    position: absolute;
    display: none;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    z-index: 1;
    padding: 2px 15px 13px;
    background-color: $color-dark;
  }
}

.header__cart-link {
  margin-left: 10px;

  @media (min-width: $tablet) {
    margin-left: 40px;
  }
}

.header__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  padding: 0;
  margin-left: 5px;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: none;
  }
}

.header__toggle-icon {
  @include addTransition(fill);

  fill: #fff;
}

.header__toggle_active .header__toggle-icon {
  fill: $color-red;
}
