.header {
  color: #fff;
  background-color: $color-dark;
}

.header__top {
  display: flex;
  justify-content: space-between;
  min-height: 70px;

  @media (min-width: $tablet) {
    min-height: 115px;
  }
}

.header__logo {
  flex-shrink: 0;
  margin: 10px 15px 10px 0;

  @media (min-width: $tablet) {
    margin: 18px 0 34px;
  }
}

.header__info {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 0;

  @media (min-width: $tablet) {
    justify-content: space-between;
    align-content: flex-start;
    max-width: $content-width;
    padding: 15px 0 25px 30px;
  }

  @media (min-width: $desktop-sm) {
    padding-left: 100px;
  }
}

.header__user-menu {
  margin-top: 0;
  margin-bottom: 20px;
  justify-content: flex-end;

  @media (max-width: $phone-max) {
    display: none !important;
  }
}

.header__search {
  flex-grow: 1;

  @media (max-width: $phone-max) {
    display: none;
  }
}

.header__cart {
  flex-shrink: 0;
}
