.inner-menu {
  list-style: none;
  padding: 0 14px 6px;
}

.inner-menu__link {
  display: block;
  padding: 16px 9px 16px 43px;
  color: $color-dark;
  text-decoration: none;

  &:hover {
    color: $color-red;
  }
}

.inner-menu__item:not(:last-child) .inner-menu__link {
  border-bottom: 1px solid #eaeaea;
}
