.main__container {
  @media (min-width: $desktop-sm) {
    display: flex;
  }
}

.main__aside {
  @media (min-width: $desktop-sm) {
    flex-shrink: 0;
    min-width: $aside-width;
    max-width: $aside-width;
  }
}

.main__aside_left {
  @media (min-width: $desktop-sm) {
    margin-right: $aside-gap;
  }
}

.main__content {
  @media (min-width: $desktop-sm) {
    flex-grow: 1;
    min-width: $main-content-width;
    max-width: $main-content-width;
  }
}
