.main {
  position: relative;

  @media (min-width: $desktop-sm) {
    position: static;
  }
}

.main__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  @media (min-width: $tablet) {
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-sm) {
    flex-direction: row;
  }

  @media (max-width: $phone-max) {
    padding-left: 0;
    padding-right: 0;
  }
}

.main__aside {
  order: 2;

  @media (min-width: $desktop-sm) {
    order: 0;
    min-width: $aside-width;
    max-width: $aside-width;
  }
}

.main__aside_left {
  @media (min-width: $desktop-sm) {
    margin-right: $aside-gap;
  }
}

.main__content {
  @media (min-width: $desktop-sm) {
    min-width: $content-width;
    max-width: $content-width;
  }
}
