.medium-cards {
  display: flex;
  margin-left: -13px;
  margin-right: -13px;
}

.medium-cards__item {
  padding-left: 13px;
  padding-right: 13px;
  outline: none;

  &:not(.slick-slide) {
    width: 25%;
  }
}
