.medium-cards {
  display: flex;
  margin-left: -12px;
  margin-right: -12px;
}

.medium-cards__item {
  padding-left: 13px;
  padding-right: 13px;
  outline: none;

  &:not(.slick-slide) {
    width: 50%;
  }

  @media (min-width: $phone-md) {
    &:not(.slick-slide) {
      width: 33.3333%;
    }
  }

  @media (min-width: $phone-horizontal) {
    &:not(.slick-slide) {
      width: 25%;
    }
  }
}
