.promo-wide__link {
  @include setActiveWhiteBlock;

  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 226px;
  padding: 36px 24px;
  text-decoration: none;
  z-index: 0;

  @media (min-width: $tablet) {
    padding: 48px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.promo-wide__text {
  text-align: center;

  @media (min-width: $tablet) {
    max-width: calc(50% - 80px);
    min-width: calc(50% - 80px);
    padding-right: 24px;
    text-align: left;
  }
}

.promo-wide__more {
  margin-top: 15px;
}

.promo-wide__background {
  width: 100%;
  max-width: 430px;
  margin: 0 auto 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &::before {
    content: "";
    position: static;
    display: block;
    padding-top: 29.77%;
  }

  @media (min-width: $tablet) {
    max-width: 52%;
    min-width: 52%;
    margin: 0 0 0 48px;
  }
}

.promo-wide__subtitle {
  transition: color 0.3s ease;
}

.promo-wide__link:hover .promo-wide__subtitle,
.promo-wide__link:focus .promo-wide__subtitle {
  color: $color-red;
}
