.search-form__wrapper {
  display: flex;
}

.search-form__button {
  flex-shrink: 0;
}

.search-form__input {
  height: 37px;
  padding: 10px 9px 9px 26px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
}

.search-form__icon {
  width: 15px;
  height: 15px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15'%3E%3Cpath fill-rule='evenodd' fill='%23FFF' d='M6.231 10.523c-1.033 0-1.916-.366-2.65-1.1-.733-.734-1.1-1.617-1.1-2.65 0-1.032.367-1.915 1.1-2.649.734-.734 1.617-1.101 2.65-1.101 1.032 0 1.915.367 2.649 1.101s1.101 1.617 1.101 2.649c0 1.033-.367 1.916-1.101 2.65s-1.617 1.1-2.649 1.1zm7.726 2.461l-2.871-2.871a5.739 5.739 0 001.038-3.34c0-.798-.155-1.561-.465-2.289a5.884 5.884 0 00-1.256-1.883A5.884 5.884 0 008.52 1.345 5.782 5.782 0 006.231.881a5.79 5.79 0 00-2.29.464 5.884 5.884 0 00-1.883 1.256A5.9 5.9 0 00.802 4.484a5.8 5.8 0 00-.464 2.289c0 .798.155 1.561.464 2.29a5.9 5.9 0 001.256 1.883 5.9 5.9 0 001.883 1.256 5.808 5.808 0 002.29.464 5.734 5.734 0 003.34-1.038l2.871 2.863a.995.995 0 00.753.318c.29 0 .541-.106.753-.318a1.03 1.03 0 00.318-.753c0-.296-.103-.547-.309-.754z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
}
