.showcase {
  @include addShadow;
  background-color: #fff;
}

.showcase__background {
  display: flex;
  align-items: center;
  min-height: 306px;
  background-repeat: no-repeat;
  background-position: calc(50% + 36px) top;
  background-size: auto 100%;

  @media (min-width: $phone-md) {
    background-position: left top;
  }

  @media (min-width: $phone-horizontal) {
    min-height: 376px;
  }

  /* ie11 */
  &::after {
    content: "";
    min-height: inherit;
    font-size: 0;
  }
}

.showcase__text {
  width: 100%;
  max-width: 360px;
  padding: 45px 24px 30px;
  text-align: center;

  @media (min-width: $phone-horizontal) {
    max-width: 480px;
  }
}

.showcase__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  color: $color-dark-blue;
  text-transform: uppercase;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.13);

  @media (min-width: $phone-horizontal) {
    font-size: 38px;
  }
}

.showcase__lead {
  margin: 0;
  font-size: 36px;
  line-height: 0.97;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.13);

  @media (min-width: $phone-horizontal) {
    font-size: 60px;
  }
}

.showcase__lead-subline {
  display: block;
  font-size: 22px;
  line-height: 1.5;
}

.showcase__more {
  margin-top: 20px;

  @media (min-width: $phone-horizontal) {
    margin-top: 40px;
  }
}

.showcase__features {
  margin: 0;
}
