.site-nav {
  position: relative;
  background-color: $color-red;
}

.site-nav__container {
  display: flex;
  justify-content: space-between;
  min-height: 51px;
}

.site-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $color-red;

  @media (min-width: $desktop-sm) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: $content-width;
    max-width: $content-width;
  }

  @media (max-width: $tablet-max) {
    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    pointer-events: none;

    &_opened {
      display: block;
      pointer-events: all;
      opacity: 1;
      z-index: 1;
      transition: opacity 0.3s ease;
    }
  }
}

.site-nav__item {
  flex-grow: 1;
}

.site-nav__link {
  display: block;
  padding: 17px 10px 16px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease;
  text-align: center;

  &:hover {
    color: $color-yellow;
  }
}
