.site-nav {
  background-color: $color-red;
}

.site-nav__container {
  display: flex;
  justify-content: space-between;
  min-height: 51px;
}

.site-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  min-width: $main-content-width;
  max-width: $main-content-width;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-sm) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.site-nav__item {
  flex-grow: 1;
}

.site-nav__link {
  display: block;
  padding: 17px 10px 16px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease;
  text-align: center;

  &:hover {
    color: $color-yellow;
  }
}
