.site-nav {
  position: relative;
  background-color: $color-red;
  z-index: 1;
}

.site-nav__container {
  display: flex;
  justify-content: space-between;
  min-height: 51px;

  @media (max-width: $phone-max) {
    padding-left: 0;
    padding-right: 0;
  }
}

.site-nav__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $color-red;

  @media (min-width: $desktop-sm) {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: $content-width;
    max-width: $content-width;
  }

  @media (max-width: $tablet-max) {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding-bottom: 20px;
    z-index: 1;
  }
}

.site-nav__item {
  flex-grow: 1;
}

.site-nav__link {
  @include addTransition(color);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 17px 10px 16px;
  border: 0;
  font: inherit;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &_accent {
    font-weight: 700;
  }

  &:hover,
  &:focus {
    color: $color-yellow;
  }
}

.site-nav__icon {
  display: block;
  margin-right: 17px;
  background-repeat: no-repeat;
}

.site-nav__icon_menu {
  @include addTransition(fill);

  width: 16px;
  height: 13px;
  margin-top: -1px;
  fill: #fff;
}

.site-nav__link:hover .site-nav__icon_menu,
.site-nav__link:focus .site-nav__icon_menu {
  fill: $color-yellow;
}

.site-nav__toggle {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  cursor: pointer;

  @media (min-width: $desktop-sm) {
    display: none;
  }
}
