.title {
  font-size: 18px;
  line-height: 1.36;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;

  @media (min-width: $phone-md) {
    font-size: 20px;
  }

  @media (min-width: $desktop-md) {
    font-size: 22px;
  }
}

.title_color_blue {
  color: $color_blue;
}

.title_bolder {
  font-weight: 900;
}
