.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0;
}

.user-menu__item {
  display: flex;
  align-items: center;

  &:not(:last-child):after {
    content: "|";
    margin: 0 18px;
  }
}

.user-menu__link {
  @include addTransition(color);

  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;

  &:hover {
    color: $color-red;
  }
}
