.widget {
  @include setWhiteBlock;

  padding-left: 26px;
  padding-right: 26px;
}

.widget__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0 22px;
  box-shadow: inset 0 -1px $color-grey-92;
}

.widget__title {
  margin: 0 auto 0 0;
}

.widget__filters + .widget__arrow-buttons {
  margin-left: 48px;
}

.widget__content {
  position: relative;
  overflow: hidden;
}

.widget__form {
  padding-top: 20px;
  padding-bottom: 30px;
}

.widget__form-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.widget__form-control {
  margin-bottom: 23px;
}
