.widget {
  @include setWhiteBlock;

  padding-left: 25px;
  padding-right: 25px;
}

.widget__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0 20px;
  border-bottom: 1px solid $color-grey-92;
}

.widget__title {
  margin: 0 auto 0 0;
}

.widget__filters + .widget__arrows {
  margin-left: 48px;
}

.widget__content {
  overflow: hidden;
}

.widget__form {
  padding-top: 20px;
  padding-bottom: 30px;
}

.widget__form-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.widget__form-control {
  margin-bottom: 23px;
}
