.widget {
  @include setWhiteBlock;

  padding-left: 24px;
  padding-right: 24px;
}

.widget__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 23px 0 22px;
  box-shadow: inset 0 -1px $color-grey-92;
}

.widget__title {
  margin: 0 auto 0 0;
}

.widget__filters {
  @media (max-width: $phone-max) {
    order: 2;
    width: 100%;
  }
}

.widget__filters + .widget__arrow-buttons {
  margin-left: 15px;

  @media (min-width: $phone-md) {
    margin-left: 48px;
  }
}

.widget__cards {
  position: relative;
  overflow: hidden;
}

.widget__cards_vertical {
  padding-top: 27px;
  padding-bottom: 36px;
}

.widget__cards_horizontal {
  padding-top: 40px;
  padding-bottom: 47px;
}

.widget__form {
  padding-top: 20px;
  padding-bottom: 30px;
}

.widget__form-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.widget__form-control {
  margin-bottom: 23px;
}
